{% extends "./testPublic/public.template.html.twig" %}


{% block title %}

    {{ parent() }} Articles de {{ utilisateur.theuserlogin }}

{% endblock %}

{% block pagetype %}blog{% endblock %}

{% block logo %}
    {% endblock %}
{% block main %}
<section class="blog-details spad">
    <div class="container">
        <div class="row d-flex justify-content-center">

            <div class="col-lg-8">
                <div class="blog__details__content">
                    <div class="blog__details__text">

                    </div>
                    <div class="blog__details__item__text">
                        {% for item in articles %}

                        <article>
                            <h4><a href="?article={{ item.thearticleslug }}">{{ item.thearticletitle|raw }}</a></h4>
                            <div class="blog__details__tags">
                                <h4>Posté par : <a href="?user={{ item.idtheuser }}">{{ item.theuserlogin }}</a>
                                    le {{ item.thearticledate|date('d/m/Y') }}<br>
                                    {# Nous avons plusieures sections possibles, il faut les séparer (|||) avant de les afficher en tant que lien, tant qu'il y en a, sinon affichons "Pas de section pour cet article" #}

                                    {# on coupe nos 2 variables avec le séparateur #}
                                    {% set slugs = item.thesectionslug|split('|||') %}
                                    {% set titles = item.thesectiontitle|split('|||') %}

                                    {# ensuite, tant qu'on a récupéré des éléments, on fait une boucle sur un des 2 (ils ont le même nombre d'éléments)  #}
                                    {% for slug in slugs %}
                                        {# on récupère le slug grâce à son alias dans la boucle #}
                                        <a href="?section={{ slug }}">{{ titles[loop.index0] }}</a>
                                        {# On récupère le titre en utilisant l'index du tableau commençant par  #}
                                        {# Si nous ne sommes pas au dernier tour #}
                                        {% if not loop.last %} | {% endif %}
                                    {% else %}
                                        Pas de section pour cette article

                                    {% endfor %}
                                </h4></div>
                            <img src="images/a1.jpg" alt=""/>
                            <p> {{ item.thearticletext|u.truncate(750, '...', false)|raw }}
                                <a class="continue" href="?article={{ item.thearticleslug }}">Continuer la lecture &rarr;</a><br>
                            <h4>Nombre de commentaires : {{ item.nbcomment }}</h4>
                            </p>
                        </article>
                        {% else %}
                            <h4 style="text-align: center">Pas encore d'article sur le site</h4>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}